.top_section{
    width: 100%;
    min-height: 100vh;
    background: ;
    padding-top: 55px;
    padding-left: 55px;
    padding-right: 55px;
}
header{
    background: blue;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 32px 0;
}

ul {
    display: flex;
}
li{
    margin-right: 40px;
}

.product_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product{
    width: 30%;
    background: black;
    margin-bottom: 20px;
    padding: 32px;
    color: white;
    display: flex;
    flex-direction: column;
}
.product img{
    width: 100%
}

@media(max-width:750px){
    .product{
        flex-direction: column-reverse;
    }
}